/* ==========================================================================
    Footer -- Version: 0.2.1
    ========================================================================== */
footer {
  overflow: auto;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  background-color: rgba(58, 210, 168, 0.5);
  font-family: "Brandon Grotesque", sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
}
