/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
.box-column {
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  background: #fafeff;
  border: 1px solid #bbbebf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
}

hr {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  border: 0;
  border-top: 1px solid #bbbebf;
  border-bottom: 1px solid #fafeff;
}
hr.divider {
  width: 50%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border: none;
  text-align: center;
}
hr.divider:after {
  content: '\f141';
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  font-size: 4rem;
  color: #bbbebf;
}
