    <!-- Footer Component -->
    <footer role="contentinfo">
     <div class="container">
        <div class="row">
          <div class="half">
            <span>&copy;<a href="{{ site.url }}">{{ site.title }}</a> - All Rights Reserved <span id="year" class="getYear">year</span></span>
          </div>
          <div class="half social">
            <ul class="horizontal right">
              <li><a href="www.linkedin.com/pub/patricia-quattromani/22/58b/549" title="{{ site.title }} Linkedin - opens in new tab" target="_blank"><span class="fa fa-linkedin-square fa-2x"></span></a></li>
              <li><a href="mailto:patti@pattiquattromani.com" title="Contact {{ site.title }}"><span class="fa fa-envelope-square fa-2x"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- ./Footer Component -->
