<h3 class="section"><i class="fa fa-bookmark"></i> Executive Summary</h3>
<p class="lede">I am a Servicing, Default and Escrow manager with 15 years of industry experience. My natural leadership abilities have allowed me to train and guide large departments in a wide range of mortgage concentrations. I have excellent organization and communication skills and the ability to direct multiple resources to work as a unified team.</p>

<h3 class="section"><i class="fa fa-briefcase"></i> Experience</h3>
<ul class="vertical lined">
    <li>
        <div class="row">
            <div class="two-fifths">
                <ul>
                    <strong>
                        <li>Senior Manager – Default &amp; Loan Servicing</li>
                        <li>Statebridge Company, LLC</li>
                        <li>2009 – Present</li>
                    </strong>
                </ul>
            </div>
            <div class="three-fifths">
                <ul class="bulleted">
                    <li>
                        Direct a team of Servicing Specialists, managing $1.8B in properties, whose prime responsibilities include mortgage collections and loss mitigation with an emphasis on world-class customer service.
                    </li>
                    <li>
                        Direct a team of Foreclosure, Bankruptcy, Litigation and Default Specialists whose prime responsibilities include attorney oversight, investor reporting and relations, timeline monitoring and MI/GSE reporting and claim filing.
                    </li>
                    <li>
                        Fulfilled the duties of Escrow Manager during interim of corporate restructuring.
                    </li>
                    <li>
                        Developed the training for all new team members.
                    </li>
                    <li>
                        Refined the mentoring and coaching processes for existing team members.
                    </li>
                    <li>
                        Work with Human Resources to create recruitment and screening processes used to identify potential candidates, conduct interviews and consult with upper management on hiring decisions.
                    </li>
                    <li>
                        Maintain constant and direct communication with clients to ensure all specialists are strictly adhering to investor guidelines.
                    </li>
                    <li>
                        Monitor performance of each team member and provide appropriate feedback in an effort to encourage full potential and ensure placement in best position for both the company and the employee.
                    </li>
                    <li>
                        Responsible for regular review and update of department policies and procedures.
                    </li>
                    <li>
                        Developed and implemented department incentive program.
                    </li>
                    <li>
                        Served as primary representative for all FC mediations – telephonic or in-person; this includes preparation of all Loss Mitigation documents and information, working with attorneys at the state level, as well as negotiations and seeing the workout to completion.
                    </li>
                    <li>
                        Act as Default Representative in presentations to potential new clients, including demonstrations of our servicing platform, default platform and investor communication tools.
                    </li>
                    <li>
                        Collaborate with Information Technology on projects including a web-based Phone Pay system to reduce human error, automation of valuation orders to ensure investor compliance and converting our existing telephone system to an ACD system to allow for better management and monitoring.
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="two-fifths">
                <ul>
                    <strong>
                        <li>Assistant Vice President, Foreclosure</li>
                        <li>Aurora Loan Services, LLC</li>
                        <li>2008 – 2009</li>
                    </strong>
                </ul>
            </div>
            <div class="three-fifths">
                <ul class="bulleted">
                    <li>
                        Responsible for the oversight of more than $7 billion in assets at various stages of the foreclosure process.
                    </li>
                    <li>
                        Managed 13 internal Foreclosure Specialists in the Littleton, CO office and 14 internal Foreclosure Specialists in the Indianapolis, IN office.
                    </li>
                    <li>
                        Directed 28 attorney employees specializing in Real Estate Mortgage Law in the Littleton, CO and Indianapolis, IN offices.
                    </li>
                    <li>
                        Co-created and implemented the “Hybrid Model” resulting in lowering the company’s costs of foreclosure servicing and risk.
                    </li>
                    <li>
                        Recruited, staffed, managed and mentored all new Foreclosure personnel.
                    </li>
                    <li>
                        Prepared, executed and presented weekly reports to senior and executive management.
                    </li>
                    <li>
                        Acted as liaison between Foreclosure staff and Home Retention Group, monitoring payment plans, etc., and ensuring foreclosure action status was appropriate in relation to HRG status.
                    </li>
                    <li>
                        Trained Home Retention group (HRG) front-line staff in the basics of Fidelity’s foreclosure workstation and Lenstar, with a focus on identifying sale information to eliminate costly sale rescissions.
                    </li>
                    <li>
                        Managed the execution of procedural documents (Substitutions of Trustee, affidavits and deeds) on behalf of Aurora Loan Services and Mortgage Electronic Registrations Systems.
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="two-fifths">
                <ul>
                    <strong>
                        <li>Foreclosure Manager</li>
                        <li>Aurora Loan Services, LLC</li>
                        <li>2005 - 2008</li>
                    </strong>
                </ul>
            </div>
            <div class="three-fifths">
                <ul class="bulleted">
                    <li>
                        Responsible for a portfolio of foreclosure files of over $40 million in assets of first and second liens; minimizing Aurora’s risk and potential losses during liquidation.
                    </li>
                    <li>
                        Managed foreclosure portfolios to ensure workload was balanced, making adjustments based upon processor knowledge and strengths.
                    </li>
                    <li>
                        Reviewed escalated requests from attorneys including litigation, invoice disputes and additional fee requests.
                    </li>
                    <li>
                        Trained and mentored staff.
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="two-fifths">
                <ul>
                    <strong>
                        <li>Foreclosure Team Lead 1998 - 2005</li>
                        <li>Loan Counselor 1998 - 1999</li>
                        <li>Aurora Loan Services, LLC</li>
                        <li>1999 - 2008</li>
                    </strong>
                </ul>
            </div>
            <div class="three-fifths">
                <ul class="bulleted">
                    <li>
                        Responsible for a portfolio of 275-350 foreclosure files worth over $12 million is assets.
                    </li>
                    <li>
                        Prepared sale bid instructions and reviewed/approved bid instructions for team.
                    </li>
                    <li>
                        Co-created, developed and implemented the use of scripting in servicing platform to reduce/eliminate errors due to human inaccuracies.
                    </li>
                    <li>
                        Solely accountable for subordinate lien foreclosures, including determining equity position and exit strategy, along with referral to the appropriate vendor based on findings.
                    </li>
                    <li>
                        Responsibly for property preservation and damaged property monitoring for all loans in foreclosure status.
                    </li>
                    <li>
                        Managed preparation and delivery of daily/weekly reports to senior management.
                    </li>
                    <li>
                        Processed all customer payment disputes and corporate complaints.
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>

<h3 class="section"><i class="fa fa-university"></i> Education</h3>
<ul>
    <li>B.S., Business Management, University of Phoenix</li>
</ul>

<!-- <h3 class="section"><i class="fa fa-code"></i> Software</h3> -->

<h3 class="section"><i class="fa fa-tasks"></i> References</h3>
<ul>
    <li>Happily provided upon request</li>
</ul>
