$chl-purple: #654764;
$chl-light-purple: lighten($chl-purple, 15%);
$chl-blue: #3a7da9;
$chl-text: #58595b;
$chl-grey: #929292;
$chl-light-grey: #f1f0f0;

.chl {
  background-color: $color-white;
  color: $chl-text;
  font-family: $gotham;
  text-align: center;

  .content {
    @include padding;
    overflow: initial;
  }

  .container {
    @include padding;
    width: 450px;
    max-width: 100%;
  }

  .progress {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    background-color: $chl-light-grey;
  }

  .progress-bar {
    height: 40px;
    background-color: $chl-purple;
  }

  .day-tracker,
  .year-tracker {
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: $chl-blue;
    z-index: 99999;
    visibility: hidden;

    &:after {
      position: relative;
      display: block;
      content: '';
      top: calc(50% - 10px);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $chl-blue;
    }
  }

  .monthly-current,
  .yearly-current {
    color: $chl-blue;
  }

  .target {
    text-align: center;
  }

  .card {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    overflow: auto;

    header {
      padding: 2rem;
      background-color: $color-white;
      color: white;
      font-family: $gotham;
      font-size: 24px;
    }

    .card-body {
      padding: 2rem;

      h3 {
        font-family: $gotham;
        font-size: 24px;
      }

      .goal {
        color: #57585a;
      }
    }

    .branch {
      padding: 2rem;
      background-color: $chl-purple;
      color: $color-white;
      font-size: 20px;

      h3 {
        margin-bottom: 0;
        color: white;
        font-family: 'Gotham-Book' !important;
        font-size: 20px;
      }
    }

    footer {
      padding: 2rem;
      background-color: $color-white;
      text-align: center;

      h3 {
        color: white;
        font-family: 'Gotham-Book' !important;
        font-size: 20px;
        text-align: center;
      }

      address {
        @include font-size(12);
        color: #929292;
      }
    }
  }

  .date-holder {
    @include padding(10px 0);
    margin-top: 1rem;
    background-color: $chl-light-grey;
    color: $chl-text;
    text-align: center;
  }
}
