// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Footer -- Version: 0.2.1
    ========================================================================== */

    footer[role=contentinfo] {
      overflow: auto;
      @include padding(1em, 0);
      background-color: rgba(58,210,168,.5);
      @include font-family($heading-font);

      a {
        color: $text;
      }
    }
