// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Header -- Version: 0.2.1
    ========================================================================== */

    header {
      overflow: auto;
      @include padding(1em, 0);
      background-color: rgba(0,0,0,.1);
      background-image: url(/images/header.jpg);
      color: $color-white;

      h1 {
        @include margin;
      }

      a {
        color: $color-white;
      }
    }
