{% include head.html %}

<header class="chl">
  <div class="container">
    <img src="/images/chl_logo.png" alt="chl Logo">
  </div>
</header>

<!-- Begin Content Wrapper -->
<div class="container">
  <div class="content">
    {{ content }}
  </div>
</div>
<!-- ./End Content Wrapper -->

<!-- Footer Component -->
<footer>
  <div class="container">
    <div class="text-center">
      <p class="lede">
        United in our journey to be the best; smart servicing for smart investors.
      </p>
      <div class="row">
        <div class="full">
          <span>&copy;<span id="year" class="getYear">year</span></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ./Footer Component -->

{% include foot.html %}
