{% include head.html %}

<header class="statebridge">
  <div class="container">
    <img src="/images/Statebridge_logo1.png" alt="Statebridge Logo">
  </div>
</header>

<!-- Begin Content Wrapper -->
<div class="container">
  <div class="content">
    {{ content }}
  </div>
</div>
<!-- ./End Content Wrapper -->

<!-- Footer Component -->
<footer class="statebridge" role="contentinfo">
 <div class="container">
  <div class="row">
    <div class="full">
      <span>All Rights Reserved &copy;<span id="year" class="getYear">year</span></span>
    </div>
  </div>
</div>
</footer>
<!-- ./Footer Component -->

{% include foot.html %}
